{% extends 'base.html.twig' %}

{% block title %}Experiences{% endblock %}

{% block body %}
    <h1>Experiences</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ experience.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ experience.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ experience.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('experiences_index') }}">back to list</a>

    <a href="{{ path('experiences_edit', {'id': experience.id}) }}">edit</a>

    {{ include('experiences/_delete_form.html.twig') }}
{% endblock %}
